

.pagina1 {
    background-image: url(../Fotos/fondos/31173.jpg);
    background-size: cover;
    background-position: center center;}

.pagina2{
    background-image: url(../Fotos/fondos/I2XXANNSMNHXFBVMDKGSYBOOCI.jpg) ;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-bottom: 80px;
}
.pagina3{
    background-image: url(../Fotos/fondos/31181-aviones.png) ;
    background-size: cover;
    background-position: center center;
    padding-bottom: 30px;
    text-align: center;
    
}
.pagina5{
    background-color: #dadada;
}