
.cajas{
    background-color: aqua;
    margin: 10px;
    
    display: flex;
    text-align: center;
    
}
.izquierda{
    display: grid;
}


.gridcontainer{
    display: grid;
    grid-template-areas:
        "contenido contenido"
        "izquierda izquierda"
        "bajocontenido bajocontenido"
        "izqabajo izqabajo"
        ;
        grid-template-columns: 50% 50%;
        grid-template-rows: 400px;
    grid-row: auto;
    

}


.article{
    .contenido{
        grid-area: contenido;
    }
}
.article{
    .izquierda{
        grid-area: izquierda;
        
        
    }
}
.article{
    .bajocontenido{
        grid-area: bajocontenido;
        text-align: center;
    }
}
.article{
    .izqabajo{
        
        grid-area: izqabajo;
        
    }
}

@media only screen and (min-width: 768px) {
    .gridcontainer{
        display: grid;
        grid-template-areas:
        "izquierda contenido "
        "izquierda contenido "
        "izqabajo bajocontenido ";
    
    grid-template-columns:200px auto  ;
    grid-template-rows: auto 200px;
    padding-bottom: 50px;

        
    }
}
        










