
// pagina de servicios
.imagen{
    width: 100%;
    height: 400px;
     
     
     
 }
 .imagen2{
     height: 370px;
     width: 100%;
     border-radius: 7px;
     
 
 }

 .imagen3{
    height: 250px;
    width: 100%;
    border-radius: 7px;
    

}
.imagen4{
    height: 137px;
    width: 100%;
    border-radius: 7px;
    

}
.imagen5{
    height: 137px;
    width: 180px;
    border-radius: 7px;
    

}


//pagina de reservas
 .imagenes{
    width: 90%;
    height: 300px;
    display: inline-block;
    text-align: center;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 7px 13px 37px $negro;
}
